<?xml version='1.0' encoding='utf-8'?>
<widget id="ays" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" >
    <name>AYSA</name>
    <description>
        CONTROLLER.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Ahmad.S
    </author>
    <content src="index.html" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="Fullscreen" value="false" />
  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/>
  <preference name="SplashScreen" value="splash" />
  <preference name="orientation" value="portrait" />
<preference name="SplashScreenDelay" value="10000" />
<preference name="AutoHideSplashScreen" value="true" />
<preference name="FadeSplashScreen" value="false"/>
<preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="DisallowOverscroll" value="true" />
 <!--Available options default, lightcontent, blacktranslucent, blackopaque. -->
    <!-- Uncomment to use the latest, fastest iOS WebView (see this post http://devgirl.org/2016/01/11/a-faster-hybrid-app-for-the-new-year/) -->
    <!--<plugin name="cordova-plugin-wkwebview-engine" spec="~1.0.1" />      #0a6ebd      -->  

    <platform name="android">
        <icon src="icon.png" />
    </platform>


</widget>
